

        h4 {
            color: teal;
            text-decoration: underline;
        }
        h1{
            color:teal;
            text-decoration: underline;
        }
        #first{
            color:gold
        }
        #second{
            color: silver
        }
        #third{
            color: brown
        }